.container {
  min-height: 100vh;
  background-color: rgb(124, 162, 67);
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    justify-content: flex-start;
    gap: 45px;
    width: 1200px;
    margin-top: 50px;

    .right {
      width: 65%;
    }

    .left {
      background-color: rgb(87, 121, 18);
      gap: 15px;
      padding: 15px;
      height: 310px;

      .numbers-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 150px;
        width: 150px;
        align-items: center;
        gap: 7px;

        .numbers {
          font-size: 16px;
          cursor: pointer;

          &:hover {
            color: white;
          }
        }
      }

      .button {
        height: 30px;
        width: 100px;
        color: black;
        border-radius: 5px;
        text-align: center;
        border: none;
        cursor: pointer;
        margin-top: 30px;
        &:hover {
          color: rgb(87, 121, 18);
        }
      }

      .dice-container {
        display: flex;
        gap: 15px;
        flex-direction: row;
        height: 150px;

        .dice-frame {
          height: 150px;
          width: 180px;
          border: 1px solid white;
          font-size: 64px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .dice {
    height: 50px;
    width: 250px;
    &-1::after {
      content: "\2680";
    }
    &-2::after {
      content: "\2681";
    }
    &-3::after {
      content: "\2682";
    }
    &-4::after {
      content: "\2683";
    }
    &-5::after {
      content: "\2684";
    }
    &-6::after {
      content: "\2685";
    }
  }
}
