.container {
  min-height: 100vh;
  background-color: rgb(124, 162, 67);
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    justify-content: flex-start;
    gap: 45px;
    width: 1200px;
    margin-top: 50px;

    .right {
      width: 65%;

      .exit {
        position: absolute;
        top: 8px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
      }

      .edit {
        position: absolute;
        top: 8px;
        left: 10px;
        font-size: 24px;
        cursor: pointer;
      }
    }

    .left {
      background-color: rgb(87, 121, 18);
      gap: 15px;
      padding: 15px;
      height: 310px;

      .numbers-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 150px;
        width: 150px;
        align-items: center;
        gap: 7px;

        .numbers {
          font-size: 16px;
          cursor: pointer;

          &:hover {
            color: white;
          }
        }
      }

      .button {
        height: 30px;
        width: 100px;
        color: black;
        border-radius: 5px;
        text-align: center;
        border: none;
        cursor: pointer;
        margin-top: 30px;
        &:hover {
          color: rgb(87, 121, 18);
        }
      }

      .dice-container {
        display: flex;
        gap: 15px;
        flex-direction: row;
        height: 150px;

        .dice-frame {
          height: 150px;
          width: 180px;
          border: 1px solid white;
          font-size: 64px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .dice {
    height: 50px;
    width: 250px;
    &-1::after {
      content: "\2680";
    }
    &-2::after {
      content: "\2681";
    }
    &-3::after {
      content: "\2682";
    }
    &-4::after {
      content: "\2683";
    }
    &-5::after {
      content: "\2684";
    }
    &-6::after {
      content: "\2685";
    }
  }
}

.edit-dice {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(216, 202, 202);
  width: 100%;
  display: flex;
  height: 100%;

  .dice-bin-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-right: 1px solid white;
    width: 75%;

    .dice-frame-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 145px;
    }

    .number-bin-2 {
      color: white;
      font-size: 20px;
      display: flex;
      align-self: center;
      width: 25%;
      gap: 20px;
      flex-direction: column;
    }
    .numbers-2 {
      text-align: center;
      &:hover {
        cursor: pointer;
        color: black;
      }
    }
  }
}


.numbers-bin-2 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 100%;
  cursor: pointer;
}


.numbers-2 {
        text-align: center;
        color:green;
        &:hover {
          cursor: pointer;
          color: black;
        }
      }

      .messages {
  position: fixed;
  top: 450px;
  left: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 15px;

  .message {
    background-color: white;
    border: 1px solid black;
    height: 30px;
    width: 200px;
    align-items: center;
    padding: 5px;
    color: red;
    font-size: 22px;
    display: flex;
    justify-content: center;
  }
}
